/*CSS Reset*/
*{margin: 0; padding: 0;}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
img, video, svg{height: auto; max-width: 100%;}
@media (prefers-reduced-motion: reduce){
    *, *::before, *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        max-width: 100%;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
/*FIN - CSS Reset*/

@font-face {
    font-family: Avenir;
    font-weight: 800;
    src: url("fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: Avenir;
    font-weight: 400;
    src: url("fonts/AvenirLTStd-Light.otf") format("opentype");
}

main{
    margin: 40px 0 0;
    width: 100%;

    .container{
        width: 95%;
        margin: 0 auto;

        section{
            margin: 0 0 40px;

            &.top{
                width: 100%;
                height: 78vh;
                display: flex;
                
    
                article{
                    width: 33.3%;
    
                    h1{
                        font: 800 56px/80px Avenir;
                    }
    
                    p{
                        font: 400 26px/35.52px Avenir;
                        display: block;
                        width: 80%;
                    }
    
                    button{
                        border: 0;
                        background: #252525;
                        font: 400 16px Avenir;
                        color: white;
                        padding: 16px 32px;
                        border-radius: 16px;
                        cursor: pointer;
                    }
    
                    &:nth-child(1){
                        display: flex;
                        justify-content: flex-start;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        gap: 15px;
                    }
    
                    &:nth-child(2){
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                    }
    
                    &:nth-child(3){
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                    }
    
                    picture{
                        display: flex;
                        width: 90%;
                        border-radius: 16px;
                        overflow: hidden;
    
                        img{
                            aspect-ratio: 1/1;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
    
            &.bottom{
                display: flex;
    
                article{
                    width: 100%;
                    display: inherit;
                    justify-content: space-between;
    
                    figure{
                        width: 30%;

                        figcaption{
                            font: 800 40px/54.64px Avenir;
                            color: #25252568;
                        }
    
                        img{
                            aspect-ratio: 4/4;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}